<div class="fixed-bottom">
  <div class="navbar navbar-dark bg-custom-2">
    <div class="container" style="font-family: 'Gotu', sans-serif; color:#fff">
      <table width="100%">
        <tbody>
          <tr style="height: 17px;">
            <td style="width: 574px; text-align: center; height: 17px;">
              <div>
                <div>Termos de uso | Política de Privacidade</div>
              </div>
            </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
