<nav style="padding-bottom: 5px;">
  <form>
    <div class="form-inline justify-content-center">
      <div class="col-auto">
        <img src="/assets/logo.png" />
      </div>
        <div class="col-md-8">  
          <input type="text" 
            class="form-control-lg"
            style="min-width:80%;"
            placeholder="Pesquise por ofertas..." 
            #termoDaPesquisa
            (keyup)="pesquisa(termoDaPesquisa.value)"
          />
            <ul class="list-group" style="position: absolute; z-index: 999">
              <li class="list-group-item" *ngFor="let oferta of ofertas | async">
                <a [routerLink]="['/oferta', oferta.id ]" (click)="limpaPesquisa()">
                  {{ oferta.titulo | descricaoReduzida:15 }}
                </a>
              </li>
            </ul>
        </div>
        <div class="col-auto">
          <a routerLink="/ordem-compra"><img src="/assets/carrinho.png" /></a>
        </div>
      </div>
  </form>
</nav>
<nav class="navbar navbar-dark bg-custom-2">
  <div class="navbar-brand">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/restaurantes" style="font-family: 'Gotu', sans-serif;">Restaurantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/diversao" style="font-family: 'Gotu', sans-serif;">Diversão</a>
      </li>
    </ul>
  </div>
</nav>  
  <div class="img-fluid" style="width: 100%; margin: 0 auto;">
    <app-banner></app-banner>
  </div>
