<ngb-carousel #carousel [interval]="8000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3></h3>
    </div>
    <div class="picsum-img-wrapper">
      <img [src]="img" alt="Minha imagem {{i + 1}} descrição">
    </div>
  </ng-template>
</ngb-carousel>

<!--
<a (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
  <fa-icon [icon]="faPauseCircle" style="color: #f9325c; padding-left: 5px;"></fa-icon>
  {{paused}}
</a>
-->

