img {
    position: absolute;
    width: 100%;
    height: 230px;
    
}
.banner-background {
    /*background-image: url("/assets/banner-acesso/fundo.png");*/
    height: 230px;
    margin-top: 0px;
    margin-right: 0px;
}
