h1 {
    color: #555
}

.oferta {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.oferta img {
    width: 377px;
    height: 240px;
}

.thumbnails {
    margin-top: 10px;
    align-items: center;
}

.thumbnails img {
    align-items: center;
    width: 130px;
    height: 85px;
    margin-right: 10px;
    margin-bottom: 10px;
}
