<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card bg-light mb-3" >
    <div class="card-body">
      <h4 style="color: #f9325c; font-family: 'Cuprum', sans-serif;">APP2 - Aplicação web de compra de ofertas, baseado no site Peixe Urbano</h4>
      <h5><span class="text-muted" style="font-family: 'Cuprum', sans-serif; font-size: px;">Boas práticas em:</span></h5>
        
        <table>
          <tbody>
            <tr>
              <h5><td class="text-muted" 
                  style="float:right;
                         text-align: center;
                         font-family: 'Cuprum', sans-serif;">
                         Disponível em: 
              </td></h5>
              <td style="text-align: left;
                        padding-left: 10px;">
                <a title="Deploy na Nuvem" 
                   href="http://app2-ludmyla-soares.s3-website.us-east-2.amazonaws.com/" 
                   target="_blank"
                   rel="noopener">
                    <img  src="/assets/aws.png" 
                          alt="Deploy na Nuvem"  
                          width="50px" 
                          height="24px"/>
                </a>
              </td>
              <td style="text-align: left;
                          padding-left: 10px;">
                <a title="Versionamento" 
                   href="https://github.com/ludmylasoares/app2" 
                   target="_blank" 
                   rel="noopener">
                    <img src="/assets/github.png" 
                         alt="Versionamento" 
                         width="30px" 
                         height="28px"/>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<p>
  <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <img src="/assets/logo-peq.png" alt="Versionamento" width="100px" height="70px"/>
  </a>
  Ludmyla Soares
</p>
