<div class="pos-f-t" style="font-family: 'MuseoModerno', cursive;">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h4>
        <a href="https://app2.ludmylasoares.site" title="Ludmyla Soares" target="_blank">
          #APP2 - Aplicação WEB como Peixe Urbano!</a></h4>
          <a href="https://www.udemy.com/course/curso-de-desenvolvimento-web-com-es6-typescript-e-angular-4/" title="Ludmyla Soares" target="_blank">
            Curso de Desenvolvimento WEB com ES6, TypeScript e Angular</a>
              <span class="text-muted">
                <div style="color: #84888a;">
                  <i><br/>
                    Este projeto é baseado no famoso site Peixe Urbano, onde pesquisa e simula a compra de
                    ofertas via formulário reativo com o API REST fake  
                    (<a href="https://my-json-server.typicode.com/ludmylasoares/json-server" 
                        style="color: #f9818b;" target="_blank">JSON Server</a>).                  
                </i><br/>
                </div>
                <br/>
              </span>
            Processos de desenvolvimento abordados:
        <ul>
          <li>Como criar e consumir serviços;</li>
          <li>Promises;</li>
          <li>Como consumir uma API Rest;</li>
          <li>Rotas e navegação;</li>
          <li>Observables;</li>
          <li>Programação Reativa;</li>
          <li>Pipes;</li>
          <li>Reactive forms;</li>
          <li>Font Awesome e Animate.css</li>      
        </ul>
    </div>
  </div> 
</div>
<nav class="navbar navbar-light bg-light custom">
  <div>
    <a href="https://www.ludmylasoares.site" target="_blank" rel="noopener" data-toggle="tooltip" target="_blank"
        title="Olá, visite meu site!" data-placement="bottom">
      <img class="animated jackInTheBox delay-2s" style="float: left; padding-bottom:3px;" 
           src="/assets/logo-lud-transp-peq.png" alt="Ludmyla Soares" width="30">
    </a>
      <label class="animated jackInTheBox delay-2s" style="float: center; padding-top:8px; text-transform: uppercase;
               font-family: 'Montserrat', 'Helvetica Neue',  Arial, sans-serif; font-size: 12px;">
        <a href="https://www.ludmylasoares.site" target="_blank" rel="noopener" data-toggle="tooltip" style="color:#1c2331;" 
          title="Olá, visite meu site!" data-placement="bottom">
            {{ titulo }}
        </a>
      </label>            
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" 
      aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>