/* link não visitado */
a:link {
    color: #f9325c;
  }
  
  /* link visitado*/
  a:visited {
    color:#f9325c;
  }
  
  /* mouse passa pelo link */
a:hover {
    color: #c98baa;
    text-decoration: none;
  }
  
  /* link selecionado */
a:active {
    color: #87293e;
  }

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

button:focus,input:focus, select:focus {
  outline: none;
} 
.animate__slow {
  --animate-duration: 5s;
}