<div class="container-fluid">
  
  <div class="secao">
    <h3 class="text-center">Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
  </div>

  <hr />

  <div *ngFor="let oferta of ofertas" style="align-items: center;">
    <div class="row">
      <div class="col-md-4">
        <img [src]="oferta.imagens[0].url" class="img-fluid" />
      </div>
      <br/>
      <div class="col-md-8">
        <div class="row">
          <h4>{{ oferta.titulo }}</h4>
        </div>

        <div class="row">
          <h6>{{ oferta.descricao_oferta }}</h6>
        </div>

        <div class="row">
          <p>Anunciado por: <b>{{ oferta.anunciante }}</b></p>
        </div>

        <div class="row">
          <p class="preco" style="font-size: 20px">{{ oferta.valor | currency:'BRL':'R$':'':'pt' }}</p>
        </div>

        <div class="row">
          <button class="btn btn-warning" [routerLink]="['/oferta', oferta.id]" style="font-size: 18px">Ver oferta</button>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <br />
</div>